!.gitignore

### No value to store, intermediary files

metabotTwitter.zip
Firefox_readonly_copy
Firefox.zip
.DS_Store
bot_accounts*.csv
.*

package-lock.json
node_modules/*



### For private repository only

unused/*



###  Private credentials, for no repository whatsoever

set_chrome_web_store_credentials.sh
set_mozilla_AMO_credentials.sh
set_local_source_for_validated_bots.sh
*.pem
