.git*
!.gitignore



### No value to store, intermediary files
releases/*
assets/labels.previous.json


**/.DS_Store
bot_accounts*.csv
twarc.log

package-lock.json
node_modules/*



### Ignore in public repository only

### Ignore in private repository only
###### Only exists in private repository
store_listing/screenshots/drafts/*
######### No value to store, intermediary files
experiments/**/*.crx
experiments/**/*.zip
experiments/**/*.xpi



### Keep in public repository only
!releases/*.crx


###  Private credentials, for no repository whatsoever
credentials/*
